In [ ]:
def fact(n):
  if n<0:
    return 'negative'
  elif n<=1:
    return 1
  else:
    return n*fact(n-1)
print(fact(4))

24

In [ ]:
double = lambda x,y,z: x+y+z
print(double(5,4,3))
#anonymous fn

12

In [ ]:
star = lambda a,b,c: a*b+c
print(star(2,2,2))

6

In [ ]:
list1 = [1,2,3,4,5,6,7,8]
nlist = list(filter(lambda x: (x%2==0), list1))
print(nlist)

[2, 4, 6, 8]

In [ ]:
list1 = [1,2,3,4,5,6,7,8]
nlist = list(map(lambda x: x*2, list1))
print(nlist)

[2, 4, 6, 8, 10, 12, 14, 16]

In [ ]:
from functools import reduce
numbers = [1,2,3,4,5,6]
product = reduce(lambda x, y: x * y, numbers)
print(product)

720

In [ ]:

f=0
s=1
next=0
n=5
i=0
while n>i:
  if i<=1:
      next=i
  else:
    next=f+s
    f=s
    s=next
  i+=1
  print(next)

0
1
1
2
3

In [ ]:
def fb():
  f=0
  s=1
  next=0
  n=5
  i=0
  while n>i:
    if i<=1:
      next=i
    else:
      next=f+s
      f=s
      s=next
    i+=1
    print(next)
fb()

0
1
1
2
3

In [ ]:
def gf(n):
  f=0
  s=1
  next=0
  fs=[]

  i=0
  while n>i:
    if i <= 1:
      next = i
    else:
      next = f + s
      f = s
      s = next
      fs.append(next)
      i+=1
  return fs

In [ ]:
import statistics
B = [1,2,3,4,5,6,7,8]
c = statistics.mean(B)
c

4.5

In [ ]:
import math
D = [4,3,4,1]
k = math.(D)
k

TypeError: 'list' object cannot be interpreted as an integer

In [ ]:
import math
D = []
k = math.factorial(D)
k

TypeError: 'list' object cannot be interpreted as an integer

In [ ]:
import math
n = 5
k = math.isqrt(n)
k

2

In [ ]:
import math
j = 5
n = math.factorial(n)
n

120

In [ ]:
import math
h =[2,3,4,5,6]
f = sum(h) / len(h)
f

4.0

In [ ]:
import math
h =[2,3,4,5,6]
f = math.fsum(h)
f

20.0

In [ ]:
import random
random.randint(1,11)

3

In [ ]:
import random
r=[1,2,3,4,5,6]
n = random.choice(r)
n

4

In [ ]:
import random
m=[1,2,3,4,5,6,7,8]
random.shuffle(m)
m

[2, 1, 5, 8, 7, 4, 3, 6]

In [ ]:
import datetime
h= datetime.datetime.now()
h

datetime.datetime(2024, 4, 25, 11, 27, 38, 157962)

In [ ]:
import datetime
h= datetime.datetime.now()
h.year

2024

In [ ]:
import datetime
h= datetime.datetime.now()
h.day

25

In [ ]:
import datetime
h= datetime.datetime.now()
h.month

4

In [ ]:
import datetime
h= datetime.datetime.now()
h.year

2024